{% extends '::base.html.twig' %}

{# {% form_theme form 'OrangeMainBundle:FormTheme:fields.html.twig' %}#}

{% block content -%}
<!-- heading -->
<div class="heading">
	<h3>{% block page_title %} Ajout d'une action générique {% endblock %}</h3> 
</div>
<!-- End .heading-->
<div class="row">
    <div class="col-lg-12">
    	<div class="row">
			<div class="col-lg-4">
{# 				<a href="{{ path('les_actions') }}" target="_blank"><button class="btn btn-warning"><span class="icon16 icomoon-icon-list-2 white"></span> Liste des actions</button></a>#}
				<div class="marginB10"></div>
			</div><!-- End .span4 -->
		</div>
    	<div class="panel panel-default">
	         <div class="panel-heading">
				<h4> 
					<span>Ajout d'une action générique</span>
				</h4>
	        </div>
	        <div class="panel-body">
		        <form method="POST" novalidate="novalidate" class="form-horizontal" action="{{  path('creer_actiongenerique') }}" role="form">
		                {{ form_row(form.libelle,  {'attr': {'class': 'form-control'}}) }}
						{{ form_row(form.porteur, {'attr': {'class': 'nostyle form-control'}}) }}
						{{ form_row(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
						{{ form_row(form.dateInitial, {'attr': {'class': 'form-control'}}) }}
   					    {{ form_row(form.description) }}
	                    {{ form_widget(form._token) }}
			        <div class="form-group form-actions">
			        	<div class="col-lg-offset-2 col-lg-9">
							{{ form_widget(form.save) }}
							{{ form_widget(form.cancel, {attr: {class: 'btn btn-die'}}) }}
						</div>
					</div><!-- End .form-group  -->  
				</form>
	        </div>
        </div>
    </div><!-- End .span12 -->
</div><!-- End .row -->

{% endblock %}
