{% extends '::base.html.twig' %}

{% block content -%}
<!-- heading -->
<div class="heading">
	<h3>{% block page_title %} Nouvelle structure {% endblock %}</h3>                    
</div>
<!-- End .heading-->
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
			    <h4> 
			        <span>Ajouter une structure</span>
			    </h4>
			</div>
			<div class="panel-body">
			    <form novalidate="novalidate" class="form-horizontal" action="{{ path('creer_structure', {'bu_id': bu_id}) }}" method="post" role="form">
	                {{ form_row(form.libelle,  {'attr': {'class': 'form-control'}}) }}
					{{ form_row(form.typeStructure,  {'attr': {'class': 'nostyle form-control'}}) }}
					<div style="display: {{ has_rights('ROLE_SUPER_ADMIN') ? 'block' : 'none' }};">
					    {{ form_row(form.buPrincipal,  {'attr': {'class': 'nostyle form-control'}}) }}
					</div>
	                {{ form_row(form.parent,  {'attr': {'class': 'nostyle form-control'}}) }}
					{{ form_row(form.bu, {'attr': {'class': 'select2 form-control'}}) }}
					{{ form_row(form.rapporteurs, {'attr': {'class': 'select2 form-control'}}) }}
					{{ form_row(form._token) }}
		            <div class="form-group">
						<div class="col-lg-offset-3 col-lg-9">
						    {{ form_widget(form.add) }}
						    {{ form_widget(form.save_and_add) }}
						    {{ form_widget(form.cancel, {attr: {class: 'btn btn-die'}}) }}
						</div>
					</div><!-- End .form-group  -->   
				</form>
			</div>
		</div><!-- End .panel -->
	</div><!-- End .span6 -->
{# 	{{ render(controller('OrangeMainBundle:Structure:liste')) }}#}
</div>
{% endblock %}

{% block pagescript %}
	{% include 'OrangeMainBundle:ModalScript:confirm.html.twig' %}
{% endblock %}