{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
   | Page de connexion{{ parent() }}
{% endblock %}

{% block fos_user_content %}
<body class="loginPage">
    <div class="container">
        <div id="header">
        	<nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
		                <a class="navbar-brand" href="dashboard.html">Super</a>
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon16 icomoon-icon-arrow-4"></span>
		                </button>
		            </div>
		     </nav>
        </div><!-- End #header -->
    </div><!-- End .container -->    
    <div class="container">
        <div class="loginContainer">
        	<div class="form-group">
            		<div align="center"><h4 style="color: #ff6600;">Informations du compte</h4>
            		 <p><b>{{ 'profile.show.username'|trans }}:</b> {{ user.username }}</p>
    				 <p><b>Nouveau mot de passe:</b> {{ user.plainpassword }}</p></div>	
 				<div align="center"> <a class="btn btn-warning "  href="{{ path('dashboard') }}">Accueil</a></div>
        	</div>
    </div><!-- End .container -->
    <!-- Le javascript
    ================================================== -->
    <script  type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/orangemain/js/bootstrap/bootstrap.js') }}"></script>  
    <script type="text/javascript" src="{{ asset('bundles/orangemain/plugins/forms/validate/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orangemain/plugins/forms/uniform/jquery.uniform.min.js') }}"></script>

     <script type="text/javascript">
        // document ready function
        $(document).ready(function() {
            //------------- Options for Supr - admin tempalte -------------//
            var supr_Options = {
                rtl:false//activate rtl version with true
            }
            //rtl version
            if(supr_Options.rtl) {
                localStorage.setItem('rtl', 1);
                $('#bootstrap').attr('href', 'css/bootstrap/bootstrap.rtl.min.css');
                $('#bootstrap-responsive').attr('href', 'css/bootstrap/bootstrap-responsive.rtl.min.css');
                $('body').addClass('rtl');
                $('#sidebar').attr('id', 'sidebar-right');
                $('#sidebarbg').attr('id', 'sidebarbg-right');
                $('.collapseBtn').addClass('rightbar').removeClass('leftbar');
                $('#content').attr('id', 'content-one')
            } else {localStorage.setItem('rtl', 0);}
            
            $("input, textarea, select").not('.nostyle').uniform();
            $("#loginForm").validate({
                rules: {
                    username: {
                        required: true,
                        minlength: 4
                    },
                    password: {
                        required: true,
                        minlength: 6
                    }  
                },
                messages: {
                    username: {
                        required: "Fill me please",
                        minlength: "My name is bigger"
                    },
                    password: {
                        required: "Please provide a password",
                        minlength: "My password is more that 6 chars"
                    }
                }   
            });
        });
    </script> 
  {% endblock fos_user_content %}  