{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ParametrageBu list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Hasvalidation</th>
                <th>Hassignalisation</th>
                <th>Affichagestats</th>
                <th>Couleur</th>
                <th>Logoimage</th>
                <th>Logotexte</th>
                <th>Isimage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('parametragebu_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.hasValidation }}</td>
                <td>{{ entity.hasSignalisation }}</td>
                <td>{{ entity.affichageStats }}</td>
                <td>{{ entity.couleur }}</td>
                <td>{{ entity.logoImage }}</td>
                <td>{{ entity.logoTexte }}</td>
                <td>{{ entity.isImage }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('parametragebu_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('parametragebu_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('parametragebu_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
