{% extends '::base.html.twig' %}

{% block content -%}
 <!-- heading -->
<div class="heading">
	<h3>{% block page_title %} Liste des types d'actions
	{% if espace is not empty %} de l'espace:
		<span style=" color:#ff6600"> {{ espace.libelle }} </span> 
	{% endif %}
	{% endblock %}</h3> 
	{% if  espace_id is  defined and espace_id is not empty %}  
		 {% include 'OrangeMainBundle:Espace:header_espace.html.twig' with {espace: espace, espace_id: espace_id, 'gest': gest } %}
	{% endif %} 
                   
</div>
<!-- End .heading-->
<div class="row">
	<div class="col-lg-8">
	 {% if espace_id is defined and espace_id is not empty and gest == true %} 
		  <a href="{{ path('nouveau_type_to_espace', {'espace_id':espace_id }) }}"><button class="btn btn-warning"><span class="icon16 icomoon-icon-plus white"></span> Ajouter un type </button></a>
	{% else %}
{# 			 	<a data-toggle="modal" data-target="#myModal" href="#myModal" class="actionLink" modal-url="{{  path('nouveau_type_action') }}"><button class="btn btn-warning"><span class="icon16 icomoon-icon-plus white"></span> Ajouter un type </button></a>#}
	{% endif %}
		 <div class="marginB10"></div>
	</div><!-- End .span4 -->
</div>
 <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default gradient">
            <div class="panel-heading">
                <h4>
                    <span>Type Action</span>
                </h4>
            </div>
            <div class="panel-body noPad clearfix">
                <table id="typeActionTable" cellpadding="0" cellspacing="0" border="0" class=" display table table-bordered" width="100%">
                    <thead>
                        <tr>
                        	<th width="20px" >Couleur</th>
                            <th>Libelle</th>
						    <th width="90px">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    	<tr>
                    		<td colspan="3"></td>
                    	</tr>
                    </tbody>
                </table>
            </div>
        </div><!-- End .panel -->
    </div><!-- End .span12 -->
</div><!-- End .row --> 
{% endblock %}
{% block pagescript %} 
	{{ parent() }}
	{{ block_render('::form_div_layout.html.twig','datatable_options',{with_tag: 1}) }}
	{% if espace is not empty %}
		{% include 'OrangeQuickMakingBundle:Extra:datatable.html.twig' with {idTable: 'typeActionTable', url: path('liste_des_types_action_by_espace', {'espace_id':espace_id}) } %}
	{% else %}
		{% include 'OrangeQuickMakingBundle:Extra:datatable.html.twig' with {idTable: 'typeActionTable', url: path('liste_des_types_action') } %}
	{% endif %}
{% endblock %}