<h3 style="color: #ff6600">SUPER::Suivi des Performances</h3>
Bonjour {{ porteur }},<br><br>
Ceci est un mail de notification des échéances des actions.<br><br>
<br>
<table border="1" width="100%">
  <tr>
    <th>Référence</th>
    <th>Libellé</th>
    <th width="100px+">Délai initial</th>
    <th>Echéances</th>
    <th>Instance</th>
  </tr>
{% for action in actions %}
	<tr>
		<td><a style="color: #ff6600; text-decoration: none" href="{{ url('details_action', { 'id': action['id']}) }}">{{ action['reference'] }}</a></td>
		<td>{{ action['libelle'] }}</td>
		<td>{{ action['delai'] }}</td>
		<td>Jour J {{ action['jours'] }}</td>
		<td>{{ action['instance'] }}</td>
	</tr>
{% endfor %}
</table>
<br>
<b>Veuillez solder vos actions ou bien changer leur date d'échéance</b>
<br><br>
Merci.
<hr>
Pour accéder à l'application, <a style="color: #ff6600;" href="{{ url('dashboard') }}">cliquer ici </a></strong>.