{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <span style="color:red; font-weight:bold; font-size:11px" class="error">{{
                    error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                }}
                </span>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_errors_class %}
    {% spaceless %}
		{% if errors is not empty %} {{ (errors|length > 0) ? 'error' : 'success' }} {% endif %}
    {% endspaceless %}
{% endblock %}

{% block form_row %}
<div class="form-group">
	{{ form_label(form) }}
	<div class="col-lg-8 {{ block('form_errors_class') }}">
		{{ form_widget(form ) }}
		{{ form_errors(form) }}
	</div>
</div>
{% endblock form_row %}

{% block form_widget_simple %}
    {% set type = type|default('text') %}
    {% set attr = attr|merge({'class': 'form-control' ~ (attr.class is defined ? ' ' ~ attr.class : '') ~ (errors|length > 0 ? ' error' : '')} ) %}
     <input type="{{ type }}" {{ block('widget_attributes') }} {% if errors is not empty %} class="required error" {% endif %} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock form_widget_simple %}


{% block form_display %}
    {% spaceless %}
		{% if 'display' in attr|keys %} style="{{ 'style' in attr|keys ? attr.style : '' }}; display: {{ attr.display }}" {% endif %}
    {% endspaceless %}
{% endblock %}

{% block form_label %}
 	<label class="col-lg-3 control-label">{{ label|trans({}, translation_domain) }}
{#  	 	{% if required %}#}
{# 	        <span style="color: red">*</span>#}
{# 	    {% endif %}#}
 	</label>
{% endblock %}

{% block email_widget %}
	{{ block('text_widget') }}
{% endblock %}

{% block text_widget %}
	{% set type = type|default('text') %} 
	{{ block('form_widget_simple') }}
{% endblock %}

{% block entity_widget %}
	{{ form_widget(form ) }}
{% endblock entity_widget %}

{% block textarea_widget %}
	{% spaceless %}
          <textarea  style="height:70px; width: 100%" class="form-control {{ 'class' in attr|keys ? attr.class : '' }}" {% if errors is not empty %} class="required error" {% endif %} {{ block('widget_attributes')}}> {{ value }} </textarea>
	{% endspaceless %}
{% endblock textarea_widget %}

{% block date_widget %}
	<input type="text" class="form-control datepicker" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock %}

