{% extends '::base.html.twig' %}

{% form_theme form 'OrangeMainBundle:FormTheme:fieldsFiltre.html.twig' %}

{% block content -%}
<!-- heading -->
<div class="heading">
	<h3>{% block page_title %} Liste des actions {% endblock %}   </h3> 
	{% if  espace_id is not empty %}  
		 	 {% include 'OrangeMainBundle:Espace:header_espace.html.twig' with {espace: espace, espace_id: espace_id, 'gest': gest } %}
	{% endif %} 
	 
	 
</div>
<!-- End .heading-->
<div class="row">
   <div class="col-lg-12">
    	<div class="row">
			<div class="col-lg-8">
			{% if espace_id is not empty %}
				   {% if  has_rights("ROLE_GESTIONNAIRE_ESPACE") %}
						<a href="{{ path('nouvelle_action_to_espace', {'espace_id':espace_id }) }}"><button class="btn btn-warning"><span class="icon16 icomoon-icon-plus white"></span> Ajouter une action </button></a>
						<a href="{{ path('chargement_action') }}"><button class="btn btn-primary"><span class="icon16 icomoon-icon-download white"></span>Importer des actions</button></a>
				   {% endif %}
				   		<a href="{{ path('export_action') }}"><button class="btn btn-success"><span class="icon16 entypo-icon-export white"></span>Exporter les actions</button></a>
			{% else %}
				{% if instance_id is not empty %}
					<a href="{{ path('nouvelle_action_to_instance', {'instance_id': instance_id}) }}" target="_blank"><button class="btn btn-warning"><span class="icon16 icomoon-icon-plus white"></span> Ajouter une action </button></a>
				{% elseif has_rights('ROLE_ANIMATEUR_ONLY') or has_rights('ROLE_ADMIN') %}
					<a href="{{ path('nouvelle_action') }}" ><button class="btn btn-warning"><span class="icon16 icomoon-icon-plus white"></span> Ajouter une action </button></a>
				{% endif %}
				 <a href="{{ path('chargement_action') }}"><button class="btn btn-primary"><span class="icon16 icomoon-icon-download white"></span>Importer des actions</button></a>
				 <a href="{{ path('export_action') }}"><button class="btn btn-success"><span class="icon16 entypo-icon-export white"></span>Exporter les actions</button></a>
			{% endif %} 
				 <div class="marginB10"></div>
			</div><!-- End .span4 -->
		</div>
    	<div class="panel panel-default">
	        <div class="panel-heading">
				<h4> 
					<span class="icon16 icomoon-icon-filter-2"></span>
					<span>Filtrer les actions </span>
				</h4>
				<a href="#minimize" class="maximize" style="display: inline;">Minimize</a>
	        </div>
	        <div class="panel-body with-footer" style="display: none;">
		        <form novalidate="novalidate" class="form-horizontal"
		        {% if code_statut is  defined and code_statut is not empty %} 
		          action="{{ path('les_actions_by_statut', {'code_statut': code_statut})  }}"
		       {% elseif instance_id is  defined and instance_id is not empty %}
		        action="{{ path('les_actions_by_instance', {'instance_id': instance_id})  }}"
		        {% elseif structure_id is  defined and structure_id is not empty %}
		        action="{{ path('les_actions_by_structure', {'structure_id': structure_id})  }}"
				{% elseif espace_id is  defined and espace_id is not empty %}
				action="{{ path('les_actions_by_espace', {'espace_id': espace_id})  }}"
		       {% else %}
		        action="{{ path('les_actions') }}"
		       {% endif %}
		         method="post">
		         	<div class="form-group">
		         	{% if espace_id is empty %}
						{{ form_widget(form.structure,  {'attr': {'class': 'select form-control', 'style' : 'width: 100%'}})}}
					{% endif %}
					</div>
					<div class="form-group">
						{{ form_widget(form.domaine,  {'attr': {'class': 'select form-control', 'style' : 'width: 100%'}})}}
						{% if  espace_id is empty %}
							{{ form_widget(form.instances,  {'attr': {'class': 'select2 form-control', 'style' : 'width: 100%', 'help' : 'Choisissez les instances à afficher'}}) }}
						{% endif %}
					</div>
					<div class="form-group">
						{{ form_widget(form.priorite,  {'attr': {'class': 'select form-control', 'style' : 'width: 100%'}}) }}
						{{ form_widget(form.statut,  {'attr': {'class': 'select form-control', 'style' : 'width: 100%'}}) }}
					</div>
					<div class="form-group">
						{{ form_widget(form.porteur,  {'attr': {'class': 'select form-control', 'style' : 'width: 100%'}}) }}
						{{ form_widget(form.typeAction,  {'attr': {'class': 'select form-control', 'style' : 'width: 100%'}}) }}
					</div>
					<div class="form-group">
						{{ form_widget(form.fromDebut) }}
						{{ form_widget(form.toDebut) }}
					</div>
					<div class="form-group">
						{{ form_widget(form.fromInitial) }}
						{{ form_widget(form.toInitial) }}
					</div>
					<div class="form-group">
						{{ form_widget(form.fromCloture) }}
						{{ form_widget(form.toCloture) }}
					</div>
	                	{{ form_widget(form._token) }}
			        <div class="form-group form-actions">
			        	<div class="col-lg-offset-2 col-lg-9">
							{{ form_widget(form.filtrer) }}
							{{ form_widget(form.effacer) }}
						</div>
					</div><!-- End .form-group  -->  
				</form>
	        </div>
        </div>
    </div><!-- End .span12 -->
</div><!-- End .row -->
					
<div class="row">
	<div class="col-lg-12">
	    <div class="panel panel-default gradient">
			<div class="panel-heading">
				<h4>
				   	<span class="icon16 brocco-icon-grid"></span>
				    <span>Liste des Actions</span>
				    <div style="float: right"><a href="#" title="filtrer"><span class="icon16  icomoon-icon-filter"></span></a></div>
				</h4>
			</div>
			<div class="panel-body noPad clearfix">
			    <table id="actionTable" cellpadding="0" cellspacing="0" border="0" class=" display table table-bordered" width="100%">
			        <thead>
			            <tr>
			               <th width="20px">Priorité</th>
						   <th width="60px">Référence</th>
			               <th width="200px">Instance</th>
			               <th>Action</th>
						   <th width="200px">Porteur</th>
						   <th width="160px">Statut</th>
						   <th width="130px">Actions</th>
			            </tr>
			        </thead>
			        <tbody>
			        	<tr>
			        		<td colspan="7">Chargement des donnees ...</td>
			        	</tr>
			        </tbody>
			    </table>
			</div>
		</div><!-- End .panel -->
	</div><!-- End .span12 -->
</div><!-- End .row --> 

<script type="text/javascript">
	$(document).ready(function() {
		$('a[href="#maximize"]').click();
		$(".instance").change( function() {
			alert('dddd');
			});
	});
</script>
{# 	{% include 'OrangeMainBundle:Extra:reloadSelect3.html.twig' with #}
{# 			{parent: form.instance, child: form.typeAction, url: path('type_by_instance'), key: 'id', empty_child: 'false'} #}
{# 		%}#}
{# 		{% include 'OrangeMainBundle:Extra:reloadSelect3.html.twig' with #}
{# 			{parent: form.instance, child: form.domaine, url: path('domaine_by_instance'), key: 'id', empty_child: 'false' } #}
{# 		%}#}
{# 		{% include 'OrangeMainBundle:Extra:reloadSelect3.html.twig' with #}
{# 			{parent: form.instance, child: form.porteur, url: path('porteur_by_instance'), key: 'id', empty_child: 'false' } #}
{# 		%}#}
{% endblock %}

{% block pagescript %}
	{{ parent() }}
	{{ block_render('::form_div_layout.html.twig','datatable_options',{with_tag: 1}) }}
	{% if code_statut is not empty and espace_id is empty %} 
			{% include 'OrangeQuickMakingBundle:Extra:datatable.html.twig' with {idTable: 'actionTable', url: path('liste_des_actions_by_statut',{'code_statut':code_statut}), nosorting: {0:0, 6:6} } %}
	{% elseif code_statut is  defined and code_statut is not empty and espace_id is  defined and espace_id is not empty %} 
			{% include 'OrangeQuickMakingBundle:Extra:datatable.html.twig' with {idTable: 'actionTable', url: path('liste_des_actions_by_statut_espace',{'code_statut':code_statut,'espace_id':espace_id }), nosorting: {0:0, 6:6} } %}
	{% elseif code is not empty %} 
			{% include 'OrangeQuickMakingBundle:Extra:datatable.html.twig' with {idTable: 'actionTable', url: path('liste_des_actions_validees',{'code': code}), nosorting: {0:0, 6:6} } %}		
	{% elseif instance_id is  defined and instance_id is not  empty %} 
			{% include 'OrangeQuickMakingBundle:Extra:datatable.html.twig' with {idTable: 'actionTable', url: path('liste_des_actions_by_instance',{'instance_id':instance_id}), nosorting: {0:0, 6:6} } %}
	{% elseif structure_id is  defined and structure_id is not  empty %} 
			{% include 'OrangeQuickMakingBundle:Extra:datatable.html.twig' with {idTable: 'actionTable', url: path('liste_des_actions_by_structure',{'structure_id':structure_id}), nosorting: {0:0, 6:6} } %}
	{% elseif espace_id is  defined and espace_id is not  empty %}
			{% include 'OrangeQuickMakingBundle:Extra:datatable.html.twig' with {idTable: 'actionTable', url: path('liste_by_espace' ,{'espace_id':espace_id}), nosorting: {0:0, 6:6} } %}
	{% else %}
			{% include 'OrangeQuickMakingBundle:Extra:datatable.html.twig' with {idTable: 'actionTable', url: path('liste_des_actions'), nosorting: {0:0, 6:6} } %}
	{% endif %}
{% endblock %}