{% extends '::base.html.twig' %}

{% form_theme form 'OrangeMainBundle:FormTheme:fields.html.twig' %}

{% block content -%}
<!-- heading -->
<div class="heading">
	<h3>{% block page_title %} Ajout d'une action {% endblock %}</h3> 
	{% if  espace is not empty %}
		{% include 'OrangeMainBundle:Espace:header_espace.html.twig' with {espace: espace, espace_id: espace.id, 'gest': espace.isGestionnaire(app.user) } %}
	{% endif %} 
</div>
<!-- End .heading-->
<div class="row">
    <div class="col-lg-12">
    	<div class="row">
			<div class="col-lg-4">
			{% if espace is defined and espace is not empty %}
				<a href="{{ path('les_actions_by_espace', {'espace_id':espace.id}) }}"><button class="btn btn-warning"><span class="icon16 icomoon-icon-list-2 white"></span> Liste des actions</button></a>				
			{% else %}
				<a href="{{ path('les_actions') }}" target="_blank"><button class="btn btn-warning"><span class="icon16 icomoon-icon-list-2 white"></span> Liste des actions</button></a>
			{% endif %}
				<div class="marginB10"></div>
			</div><!-- End .span4 -->
		</div>
    	<div class="panel panel-default">
	         <div class="panel-heading">
				<h4> 
					<span>Ajouter d'une action</span>
				</h4>
	        </div>
	        <div class="panel-body with-footer">
		        <form novalidate="novalidate" class="form-horizontal" action="{{ espace is empty ? path('creer_action') : path('creer_action_to_espace', {'espace_id': espace.id}) }}" method="post" {{ form_enctype(form) }} role="form">
					<div class="form-group">
		                {{ form_widget(form.libelle, {'attr': {'class': 'form-control'}} ) }}
		                <div {% if espace is defined and espace is not empty %}style="display:none;"{% endif %}>
						    {{ form_widget(form.instance) }}
						</div>
					</div>
					<div class="form-group">
						 {{ form_widget(form.typeAction,  {'attr': {'class': 'select form-control', 'style' : 'width: 100%'}}) }}
						{{ form_widget(form.domaine) }}
					</div>
					<div class="form-group">
						{{ form_widget(form.porteur) }}
						{{ form_widget(form.priorite) }}
					</div>
					<div class="form-group">
{# 						{{ form_widget(form.groupe) }}#}
						{{ form_widget(form.tmp_contributeur) }}
					</div>
					<div class="form-group">
						{{ form_widget(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
						{{ form_widget(form.dateInitial, {'attr': {'class': 'form-control'}}) }}
					</div>
					{{ form_row(form.erq.file) }}
					{{ form_row(form.description) }}
	                {{ form_widget(form._token) }}
			        <div class="form-group form-actions">
			        	<div class="col-lg-offset-2 col-lg-9">
							{{ form_widget(form.save) }}
							{{ form_widget(form.save_and_add) }}
							{{ form_widget(form.cancel, {attr: {class: 'btn btn-die'}}) }}
						</div>
					</div><!-- End .form-group  -->  
				</form>
	        </div>
        </div>
    </div><!-- End .span12 -->
</div><!-- End .row -->
{% if  espace is not empty%}
	{% include 'OrangeMainBundle:Extra:reloadSelect.html.twig' with 
		{parent: form.instance, child: form.porteur, url: path('porteur_by_espace'), key: 'id' } 
	%}
{% endif %}
{% if espace is empty %}
		{% include 'OrangeMainBundle:Extra:reloadSelect.html.twig' with 
			{parent: form.instance, child: form.typeAction, url: path('type_by_instance'), key: 'id' } 
		%}
		{% include 'OrangeMainBundle:Extra:reloadSelect.html.twig' with 
			{parent: form.instance, child: form.domaine, url: path('domaine_by_instance'), key: 'id' } 
		%}
		{% include 'OrangeMainBundle:Extra:reloadSelect.html.twig' with 
			{parent: form.instance, child: form.porteur, url: path('porteur_by_instance'), key: 'id' } 
		%}
		{% include 'OrangeMainBundle:Extra:reloadSelect2.html.twig' with 
			{parent: form.instance, child: form.tmp_contributeur, url: path('user_by_instance'), key: 'id' } 
		%}
{% endif %}
{% if  espace is not empty%}
	{% include 'OrangeMainBundle:Extra:reloadSelect.html.twig' with 
		{parent: form.instance, child: form.porteur, url: path('porteur_by_espace'), key: 'id' } 
	%}
{% endif %}
{% endblock %}
