    <div class="col-lg-6">                            
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>
					<span class="icon16 icomoon-icon-equalizer-2"></span>
					<span>Liste des projet</span>
				</h4>
			</div>
			<div style="height:340px; overflow-y: scroll; class="panel-body noPad">
		        <table class="table table-bordered" height="100px">
					<thead>
					  <tr>
					    <th>Projet</th>
					    <th>Chef</th>
					    <th>Date Creation</th>
					    <th>Actions</th>
					  </tr>
					</thead>
		            <tbody>
		            {% for entity in entities %}
		              <tr>
			               <td>{{ entity.libelle }}</td>
			               <td>{{ entity.chefprojet }}</td>
			               <td>{{ entity.dateCreation|date('d-m-Y') }}</td>
			               <td>
			                  <div class="controls center">
			                     <a href="{{ path('details_projet', { 'id': entity.id }) }}" title="Afficher" class="tip"><span class="icon12 entypo-icon-eye"></span></a>
			                      <a href="{{ path('edition_projet', { 'id': entity.id }) }}" title="Modifier" class="tip"><span class="icon12 icomoon-icon-pencil"></span></a>
			                     <a href="#" title="Supprimer espace" class="tip"><span class="icon12 icomoon-icon-remove"></span></a>
			                      
			                  </div>
			               </td>
		              </tr>
		             {% endfor %}
					</tbody>
				</table>
			</div>
		</div><!-- End .panel -->
	</div><!-- End .span6 -->  
