<div class="panel panel-default gradient">
	<div class="panel-heading">
	    <h4>
	        <span class="icon16 cut-icon-alert"></span>
	        <span>Signalisation</span>
	    </h4>
	    <a href="#" class="minimize">Reduire</a>
	</div>
	<div class="panel-body">
	    <div class="vital-stats" style="padding-bottom:23px">
	        <ul class="list-unstyled">
	          <li>
	                <span class="icon24 icomoon-icon-arrow-up-2 "></span> 
	                <span class="mypercent">{{ stats['total']['taux'] }}</span> Total
	                <span class="pull-right strong">{{ stats['total']['nombre'] }}</span>
	                <div class="progress progress-striped">
	                    <div class="progress-bar purp" style="width: 100%; background: purple;background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-size: 40px 40px;"></div>
	                </div>
	            </li>
	             <li>
	                <span class="icon24 icomoon-icon-arrow-up-2 "></span>
	                 <span class="mypercent"> {{ stats['En cours']['taux']|default("0%") }} </span>En cours
	                <span class="pull-right strong">{{ stats['En cours']['nombre']|default(0)  }}</span>
	                <div class="progress progress-striped active">
	                    <div class="progress-bar progress-bar-warning" style="width: {{ stats['En cours']['taux']|default("0%") }};"></div>
	                </div>
	            </li>
	            <li>
	                <span class="icon24 icomoon-icon-arrow-up-2 green"></span> 
	                 <span class="mypercent">{{ stats['Efficace']['taux']|default("0%")  }} </span>Efficace
	                <span class="pull-right strong">{{ stats['Efficace']['nombre']|default(0)  }}</span>
	                <div class="progress progress-striped active">
	                    <div class="progress-bar progress-bar-success" style="width: {{ stats['Efficace']['taux']|default("0%") }};"></div>
	                </div>
	            </li>
	             <li>
	                <span class="icon24 icomoon-icon-arrow-down-2 red"></span> 
	                 <span class="mypercent">{{ stats["Non efficace"]['taux']|default("0%")  }} </span>Non Efficace
	                <span class="pull-right strong">{{ stats["Non efficace"]['nombre']|default(0) }}</span>
	                <div class="progress progress-striped active">
	                    <div class="progress-bar progress-bar-danger" style="width: {{ stats["Non efficace"]['taux']|default("0%") }};"></div>
	                </div>
	            </li>
	            <li>
	                <span class="icon24 icomoon-icon-arrow-down-2 red"></span> 
	                 <span class="mypercent">{{ stats["abandonne"]['taux']|default("0%")  }} </span>Abandonnée
	                <span class="pull-right strong">{{ stats["abandonne"]['nombre']|default(0) }}</span>
	                <div class="progress progress-striped active">
	                    <div class="progress-bar progress-bar-danger" style="width: {{ stats["abandonne"]['taux']|default("0%") }};"></div>
	                </div>
	            </li>
	         </ul>
	    </div>
	</div>
</div>
<!-- End .panel --> 


