{% extends '::base.html.twig' %}
{% block content -%}
<!-- heading -->
<div class="heading">
	<h3>{% block page_title %} Tableau de Bord de l'espace <span style=" color:#ff6600"> {{ entity.libelle }} </span>  {% endblock %}</h3> 
	<ul class="nav navbar-nav right" style="margin-right:35px;   margin-top: -1px;">
		<li class="tip"  data-toggle="tooltip" data-placement="bottom" title="Ajouter une action">
             <a href="{{ path('nouvelle_action_to_espace', {'espace_id':espace_id}) }}"><span class="icon16 tip cut-icon-plus-2" ></span> 
             <span class="notification-petit orange"></span></a>
        </li>
		<li class="tip"  data-toggle="tooltip" data-placement="bottom" title="Actions">
             <a href="{{ path('les_actions_by_espace', {'espace_id':espace_id}) }}"><span class="icon16 tip icomoon-icon-wand-2" ></span> 
             <span class="notification-petit">{{ nbrTotal }}</span></a>
        </li> 
        <li class="tip"  data-toggle="tooltip" data-placement="bottom" title="Membres">
             <a href="{{ path('membre_espace', {'espace_id':espace_id}) }}"><span class="icon16 tip entypo-icon-users"></span>
			 <span class="notification-petit green">{{ entity.membreEspace.count }}</span></a>
        </li>  
        <li class="tip"  data-toggle="tooltip" data-placement="bottom" title="Domaines">
             <a href="{{ path('les_domaine_by_espace', {'espace_id':espace_id}) }}"><span class="icon16 tip icomoon-icon-earth"></span>
			 <span class="notification-petit blue">{{ entity.instance.domaine.count }}</span></a>
        </li>  
        <li class="tip"  data-toggle="tooltip" data-placement="bottom" title="Types">
             <a href="{{ path('les_types_action_by_espace', {'espace_id':espace_id}) }}"><span class="icon16 tip brocco-icon-type"></span> 
			 <span class="notification-petit purple">{{ entity.instance.typeAction.count }}</span></a>
        </li>                      
     </ul>
</div>
<div class="row">
<div class="col-lg-7">
	<div class="panel panel-default chart gradient">
                            <div class="panel-heading">
                                <h4>
                                    <span class="icon16 icomoon-icon-bars"></span>
                                    <span>Suivi  des actions </span>
                                </h4>
                                <a href="#" class="minimize">Reduire</a>
                            </div>
                            <div class="panel-body" style=" padding-bottom:0;">
                                 	<div id="pie-chart"></div>
                            </div>
                        </div><!-- End .panel -->

</div>
<div class="col-lg-5">
	{% include 'OrangeMainBundle:Espace:statistiqueGeneral.html.twig' with {'req': req, 'nbr' : nbrTotal} %}
<div>
{% endblock %}
{% block pagescript %}
	{{ parent() }}
	{{ block_render('::form_div_layout.html.twig','datatable_options',{with_tag: 1}) }}
	<script type="text/javascript">
	$(function () {

	    $(document).ready(function () {
		    var datas=[];
		    i=0;
	    	{% for lib,val in req %}
		    	{% if lib != 'total' %}
		    		datas[{{ loop.index0 }}] = new Object();
		    		datas[{{ loop.index0 }}].name = '{{ lib|escape('js') }}';
					datas[{{ loop.index0 }}].y={{ val }};
				{% endif %}
			{% endfor %}
			console.log(datas);
	        // Build the chart
	        $('#pie-chart').highcharts({
	            chart: {
	                plotBackgroundColor: null,
	                plotBorderWidth: null,
	                plotShadow: false,
	                type: 'pie'
	            },
	            title: {
	                text: 'Suivi des Actions'
	            },
	            tooltip: {
	                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
	            },
	            plotOptions: {
	                pie: {
	                    allowPointSelect: true,
	                    cursor: 'pointer',
	                    dataLabels: {
	                        enabled: false
	                    },
	                    showInLegend: true
	                }
	            },
	            credits: {
					enabled : false 	
	        	},
	            series: [{
	                name: 'Taux',
	                colorByPoint: true,
	                data: datas
	            }]
	        });
	    });
	});
	</script>
{% endblock %}