{% extends '::base.html.twig' %}


{% block content -%}
<!-- heading -->
<div class="heading">
        <h3>{% block page_title %} Paramétrage de formule {% endblock %}</h3>                    
</div>
<!-- End .heading-->
<div class="row">
	
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
			    <h4> 
			        <span>Paramétrage de formule</span>
			    </h4>
			</div>
			   <div class="panel-body row" style="margin-left:0; margin-right:0;">
                                 <div class="you col-lg-6 col-md-6 col-sm-6" >
                                    <ul class="list-unstyled">
								    	{% for ref in references %}
								    	 	<li><span class="icon16 icomoon-icon-arrow-right-3"></span>{{ ref.libelleStatut }} :<strong style="color: #ff6600;margin-left: 10px;">{{ ref.symbole }}</strong></li>
								    	{% endfor %}
					                </ul>
                                 </div>    
                                 <div class="you col-lg-6 col-md-6 col-sm-6" >
                                	 <form novalidate="novalidate" class="form-horizontal" action="{{ path('creer_formule') }}" method="post" role="form">
						                {{ form_row(form.libelle,  {'attr': {'class': 'form-control'}}) }}
						                {{ form_row(form.num,  {'attr': {'class': 'select2 form-control'}}) }}
						                {{ form_row(form.denom,  {'attr': {'class': 'select2 form-control'}}) }}
						                {{ form_row(form.visibilite,  {'attr': {'class': 'form-control'}}) }}
										{{ form_row(form._token) }}
							            <div class="form-group">
							            <!-- Color picker  -->                      
					<div class="form-group">
						<label class="col-lg-2 control-label" for="picker">Couleur :</label>
						<div class="col-lg-9">
							<input type="text" id="color" name="{{ form.couleur.vars.full_name }}" value="#123456" class="form-control" />
							<div class="picker"></div>
						</div>
					</div>
                    <!-- End .ColorPicker  -->
											<div class="col-lg-offset-3 col-lg-9">
											    {{ form_widget(form.add) }}
											    {{ form_widget(form.cancel, {attr: {class: 'btn btn-die'}}) }}
											</div>
										</div><!-- End .form-group  -->   
									</form>
                                </div>
               </div>
 			
			</div>
		</div><!-- End .panel -->
	</div><!-- End .span6 -->
</div>
{% endblock %}

