{% extends '::base.html.twig' %}

{% block content %}
<!-- Build page from here: -->
<!-- heading -->
<div class="heading">
	<h3>{% block page_title %} Liste des utilisateurs {% endblock %}</h3>                    
</div>
<!-- End .heading-->
<div class="row">
	<div class="col-lg-12">
		
		<div class="row">
			<div class="col-lg-8">
				 <a href="{{ path('fos_user_registration_register') }}"><button class="btn btn-warning"><span class="icon16 icomoon-icon-user-plus-2 white"></span> Ajouter un utilisateur</button></a>
				 <a href="{{ path('export_utilisateur') }}"><button class="btn btn-success"><span class="icon16 entypo-icon-export white"></span>Exporter les utilisateurs</button></a> 
				 <div class="marginB10"></div>
			</div><!-- End .span4 -->
		</div>
	    <div class="panel panel-default gradient">
	        <div class="panel-heading">
	            <h4>
	                <span>Liste des utilisateurs</span>
	                <div style="float: right"><a data-toggle="modal" data-target="#myModal" href="#myModal" class="actionLink" modal-url="{{ path('filtrer_utilisateurs')}}"title="filtrer"><span class="icon16  icomoon-icon-filter"></span></a></div>
	            </h4>
	        </div>
	        <div class="panel-body noPad clearfix">
	            <table id="userTable" cellpadding="0" cellspacing="0" border="0" class=" display table table-bordered" width="100%">
	                <thead>
	                    <tr>
							<th>Nom et pr&eacute;nom</th>
							<th>Matricule</th>
							<th>Adresse Email</th>
							<th>Username</th>
							<th>Etat</th>
							<th width="200px">Actions</th>
	                    </tr>
	                </thead>
	                <tbody>
	                	<tr>
	                		<td colspan="7"></td>
	                	</tr>
	                </tbody>
	            </table>
	        </div>
	    </div><!-- End .panel -->
	</div><!-- End .span12 -->
</div><!-- End .row -->        
{% endblock %}

{% block pagescript %}
{{ parent() }}
	{{ block_render('::form_div_layout.html.twig','datatable_options',{with_tag: 1}) }}
	{% include 'OrangeQuickMakingBundle:Extra:datatable.html.twig' with {idTable: 'userTable', url: path('liste_des_utilisateurs'), nosorting: {0:4, 1:5} } %}
{% endblock %}
		 	
		 	