<script type="text/javascript">
$(document).ready(function() {
	$("#{{ parent.vars.id }}").change(function(e) {
        var Id =  $(this).val();
        {% if codeBefore is defined %}{{ codeBefore }}{% endif %}
        var sub = $("#{{ child.vars.id }}");
        if(Id) {
	        $.post("{{ url }}", { "{{ key }}": Id },  
	    		function(results) {
			        clearValuesForSelect(sub);
			        $.each(results , function(key, value) { 
				        var opt = $("<option></option>");
				       	if(value.hasOwnProperty('selected')) {
					       	opt.attr('selected', 'selected');
					  	}
			            sub.append(opt.attr("value", value.id).text(value.libelle));
			        });
			        console.debug(sub);
			        {% if functionAfter is defined %}
			        	{{functionAfter }}(sub, {{ child.vars.value ? child.vars.value : 'null' }});
				    {% else %}
				    	sub.val({{ child.vars.value }});
				    {% endif %}
		    });
	    {% if (empty_child is not defined) or (empty_child==1) %}
        } else {
        	clearValuesForSelect(sub);
        {% endif %}
        }
    });
	$("#{{ parent.vars.id }}").change();
});
</script>