{% extends '::base.html.twig' %}

{% form_theme form 'OrangeMainBundle:FormTheme:fieldsFiltre.html.twig' %}
{% block content -%}
<!-- heading -->
<div class="heading">
	<h3>
		{% block page_title %}
		Liste des signalisations
		{% endblock %}
	</h3>
</div>
<!-- End .heading-->
<div class="row">
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<a href="{{ path('export_signalisation') }}">
						<button class="btn btn-success"><span class="icon16 entypo-icon-export white"></span>Exporter les signalisations</button>
					</a>
					{% if  has_rights('ROLE_ADMIN') or has_rights('ROLE_SOURCE') or has_rights('ROLE_ANIMATEUR_ONLY') %}
						<a href="{{ path('chargement_signalisation') }}">
							<button class="btn btn-primary"><span class="icon16 icomoon-icon-download white"></span>Importer des signalisations</button>
						</a> 
					{% endif %}
					{% if has_rights('ROLE_ANIMATEUR_ONLY') %}
						<a href="{{ path('export_canevas') }}">
							<button class="btn btn-warning"><span class="icon16 entypo-icon-export white"></span>Exporter les actions correctives</button>
						</a>
						<a href="{{ path('chargement_action',{isCorrective:1}) }}">
							<button class="btn btn-danger"><span class="icon16 entypo-icon-export white"></span>Chargement actions correctives</button>
						</a>
					{% endif %}
					<div class="marginB10"></div>
				</div>
				<!-- End .span4 -->
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>
						<span class="icon16 icomoon-icon-filter-2"></span> <span>Filtrer
							les signalisations </span>
					</h4>
					<a href="#minimize" class="maximize" style="display: inline;">Minimize</a>
				</div>
				<div class="panel-body with-footer" style="display: none;">
					<form novalidate="novalidate" class="form-horizontal"
						action="{{ path('les_signalisations') }}" method="post">
						<div class="form-group">
							{{ form_widget(form.perimetre,  {'attr': {'class': 'select form-control', 'style' : 'width: 100%'}})}}
							{{ form_widget(form.statut,  {'attr': {'class': 'select form-control', 'style' : 'width: 100%'}}) }}
						</div>
						<div class="form-group">
							{{ form_widget(form.constat,  {'attr': {'class': 'select form-control', 'style' : 'width: 100%'}}) }}
							{{ form_widget(form.utilisateur,  {'attr': {'class': 'select form-control', 'style' : 'width: 100%'}}) }}
						</div>
						<div class="form-group">
							{{ form_widget(form.dom,  {'attr': {'class': 'select form-control', 'style' : 'width: 100%'}}) }}
							{{ form_widget(form.type,  {'attr': {'class': 'select form-control', 'style' : 'width: 100%'}}) }}
						</div>
						<div class="form-group">
							{{ form_widget(form.fromDateConstat) }}
							{{ form_widget(form.toDateConstat) }}
						</div>
						<div class="form-group">
						{{	form_widget(form.fromDateSignale) }}
						{{	form_widget(form.toDateSignale) }}
					   </div>
						{{ form_widget(form._token) }}
						<div class="form-group form-actions">
							<div class="col-lg-offset-2 col-lg-9">
								{{ form_widget(form.filtrer) }}
								{{ form_widget(form.effacer) }}
							</div>
						</div>
						<!-- End .form-group  -->
					</form>
				</div>
			</div>

			<div class="col-lg-12">
				<div class="panel panel-default gradient">
					<div class="panel-heading">
						<h4>
							<span>Liste des Signalisations</span>
						</h4>
					</div>
					<div class="panel-body noPad clearfix">
						<table id="signalisationTable" cellpadding="0" cellspacing="0"
							border="0" class=" display table table-bordered" width="100%">
							<thead>
								<tr>
									<th>Référence</th>
									<th>libelle</th>
									<th>Source</th>
									<th>Date de constat</th>
									<th>Date signal</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="6">Chargement des donnees ...</td>
								</tr>
							</tbody>
						</table>
					</div>
					{% include 'OrangeMainBundle:Modal:confirm.html.twig' with {'id':'dialog-confirm', 'content':' Vous êtes sur le point de supprimer ce projet. Veuillez confirmer .'} %}
				</div>
				<!-- End .panel -->
			</div>
			<!-- End .span12 -->
		</div>
		<!-- End .row -->
		{% endblock %}

		{% block pagescript %}

		{{ parent() }}
		{{ block_render('::form_div_layout.html.twig','datatable_options',{with_tag: 1}) }}
		{% include 'OrangeMainBundle:ModalScript:confirm.html.twig' %}
		{% include 'OrangeQuickMakingBundle:Extra:datatable.html.twig' with {idTable: 'signalisationTable', url: path('liste_des_signalisations'), nosorting: {0:0, 5:5} } %}
		{% endblock %}