{% extends '::base.html.twig' %}

{% form_theme form 'OrangeMainBundle:FormTheme:fieldsFiltre.html.twig' %}
{% block content -%}
<!-- heading -->
<div class="heading">
	<h3>{% block page_title %} Liste des signalisations {% endblock %}</h3>                    
</div>
<!-- End .heading-->
	<div class="row">
<div class="col-lg-12">
	<div class="row">
			<div class="col-lg-8">
				 <a href="{{ path('export_signalisation') }}"><button class="btn btn-success"><span class="icon16 entypo-icon-export white"></span>Exporter signalisations</button></a>
{# 				 {% if has_rights('ROLE_SOURCE') or has_rights('ROLE_ADMIN') %}#}
{# 				 	<a href="{{ path('chargement_signalisation') }}"><button class="btn btn-primary"><span class="icon16 icomoon-icon-download white"></span>Importer des signalisations</button></a> #}
{# 				{% endif %}#}
				 <div class="marginB10"></div>
			</div><!-- End .span4 -->
	</div>
{# 	    	<div class="panel panel-default">#}
{# 	        <div class="panel-heading">#}
{# 				<h4> #}
{# 					<span class="icon16 icomoon-icon-filter-2"></span>#}
{# 					<span>Filtrer les signalisations </span>#}
{# 				</h4>#}
{# 				<a href="#minimize" class="maximize" style="display: inline;">Minimize</a>#}
{# 	        </div>#}
{# 	        <div class="panel-body with-footer" style="display: none;">#}
{# 		        <form novalidate="novalidate" class="form-horizontal" action="{{ path('les_signalisations') }}" method="post">#}
{# 					<div class="form-group">#}
{# 						{{ form_widget(form.perimetre,  {'attr': {'class': 'select form-control', 'style' : 'width: 100%'}})}}#}
{# 						{{ form_widget(form.statut,  {'attr': {'class': 'select form-control', 'style' : 'width: 100%'}}) }}#}
{# 					</div>#}
{# 					<div class="form-group">#}
{# 						{{ form_widget(form.constat,  {'attr': {'class': 'select form-control', 'style' : 'width: 100%'}}) }}#}
{# 						{{ form_widget(form.utilisateur,  {'attr': {'class': 'select form-control', 'style' : 'width: 100%'}}) }}#}
{# 					</div>#}
{# 					<div class="form-group">#}
{# 						{{ form_widget(form.dom,  {'attr': {'class': 'select form-control', 'style' : 'width: 100%'}}) }}#}
{# 						{{ form_widget(form.type,  {'attr': {'class': 'select form-control', 'style' : 'width: 100%'}}) }}#}
{# 					</div>#}
{# 					<div class="form-group">#}
{# 						{{ form_widget(form.fromDateConstat) }}#}
{# 						{{ form_widget(form.toDateConstat) }}#}
{# 					</div>#}
{# 	                	{{ form_widget(form._token) }}#}
{# 			        <div class="form-group form-actions">#}
{# 			        	<div class="col-lg-offset-2 col-lg-9">#}
{# 							{{ form_widget(form.filtrer) }}#}
{# 							{{ form_widget(form.effacer) }}#}
{# 						</div>#}
{# 					</div><!-- End .form-group  -->  #}
{# 				</form>#}
{# 	        </div>#}
{#         </div>#}
    <div class="panel panel-default gradient">
        <div class="panel-heading">
            <h4>
                <span>Liste des Signalisations</span>
            </h4>
        </div>
        <div class="panel-body noPad clearfix">
            <table id="signalisationTable" cellpadding="0" cellspacing="0" border="0" class=" display table table-bordered" width="100%">
                <thead>
                    <tr>
                    	<th>Référence</th>
						<th>libelle</th>
					    <th>Source</th>
					    <th>Date de constat</th>
					    <th>Date signal</th>
					    <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                	<tr>
	        			<td colspan="5">Chargement des donnees ...</td>
			    	</tr>
{#                 	{% for entity in entities %}#}
{#                 		{% set statutKey  = entity.signStatut|length - 1 %}#}
{#                     <tr class="odd gradeX">#}
{#                     	<td align="center" width="110px">{{ entity.reference }}</td>#}
{# 						<td align="center" width="110px">{{ entity.libelle }}</td>#}
{# 						<td align="center" width="150px">{{ entity.source }}</td>#}
{# 						<td align="center" width="150px">{{ entity.dateConstat| localizeddate('full', 'none') }}</td>#}
{# 							{% if statut == 'SIGN_NOUVELLE' and has_rights('ROLE_ANIMATEUR') %}#}
{# 								<div class="col-lg-4">#}
{# 		                                    <a href="{{ path('valider_signalisation', {valide: 'SIGN_VALIDE', id : entity.id }) }}"  title="Valider la signalisation" class="tip" ><button class="btn btn-success"><span class="icon16 icomoon-icon-thumbs-up white"></span> Valider</button></a>#}
{# 		                                     <div class="marginB10"></div>#}
{# 								</div><!-- End .span4 -->#}
{# 								<div class="col-lg-4" style="margin-left: 30px">#}
{# 		                                    <a href="{{ path('valider_signalisation', {valide: 'SIGN_INVALIDE', id : entity.id }) }}"  title="Valider la signalisation" class="tip" ><button class="btn btn-warning"><span class="icon16  icomoon-icon-thumbs-down white"></span>Invalider</button></a>#}
{# 		                                     <div class="marginB10"></div>#}
{# 								</div><!-- End .span4 -->#}
{# 							{% elseif statut == 'SIGN_TRAITEMENT_FIN' and has_rights('ROLE_ANIMATEUR') %}#}
{# 								<div class="col-lg-4">#}
{# 		                                    <button class="btn btn-success"><span class="icon16 icomoon-icon-thumbs-up white"></span><a href="#"  title="Traitement Efficace" class="tip">Efficace</a></button>#}
{# 		                                     <div class="marginB10"></div>#}
{# 								</div><!-- End .span4 -->#}
{# 								<div class="col-lg-4" style="margin-left: 30px">#}
{# 		                                    <button class="btn btn-warning"><span class="icon16  icomoon-icon-thumbs-down white"></span><a href="#"  title="Traitement Non Efficace" class="tip">Non Efficace</a></button>#}
{# 		                                     <div class="marginB10"></div>#}
{# 								</div><!-- End .span4 -->#}
{# 							{% else %}#}
{# 								{{ entity.signStatut[statutKey].statut.libelle }}#}
{# 							{% endif %}#}
{# 						</td>#}
{# 						<td align="center" width="130px">#}
{# 							<div class="btn-group">#}
{# 					      		<a class="btn btn-default" href="{{ path('details_signalisation', { 'id': entity.id }) }}" title="Détails sur la signalisation "><span class="icomoon-icon-eye"></span></a>#}
{# 					          	<a class="btn btn-default" href="{{ path('edition_signalisation', { 'id': entity.id }) }}" title="Modifier la signalisation"><span class="icomoon-icon-pencil-3"></span></a>#}
{# 					          	<a class="btn btn-default" href="{{ path('supprimer_signalisation', { 'id': entity.id }) }}" title="Supprimer la signalisation"><span class="icomoon-icon-remove-4"></span></a>#}
{# 				       		</div>#}
{# 						</td>#}
{#                     </tr>#}
{#                     {% endfor %}#}
                </tbody>
            </table>
        </div>
		{% include 'OrangeMainBundle:Modal:confirm.html.twig' with {'id':'dialog-confirm', 'content':' Vous êtes sur le point de supprimer ce projet. Veuillez confirmer .'} %}	
    </div><!-- End .panel -->
</div><!-- End .span12 -->
</div><!-- End .row -->    
 {% endblock %}
 
{% block pagescript %}

	{{ parent() }}
	{{ block_render('::form_div_layout.html.twig','datatable_options',{with_tag: 1}) }}
	{% include 'OrangeMainBundle:ModalScript:confirm.html.twig' %}
	{% include 'OrangeQuickMakingBundle:Extra:datatable.html.twig' with {idTable: 'signalisationTable', url: path('liste_des_signalisations'), nosorting: {0:0, 5:5} } %}
{% endblock %}