{% extends '::base.html.twig' %}

{% set statut = entity.etatCourant %}

{% block content -%}
<!-- Build page from here: -->
<!-- heading -->
<div class="heading">
	<h3>{% block page_title %} Détail de la signalisation {% endblock %}</h3>                    
</div>
<!-- End .heading-->
<div class="row">
    <div class="col-lg-12">
    	{% if has_rights('ROLE_ANIMATEUR') and statut == 'SIGN_TRAITEMENT' %}
	    	<div class="row">
				<div class="col-lg-4">
					 <a href="{{ path('nouvelle_signalisation_action', {'signalisation_id': entity.id }) }}"><button class="btn btn-warning"><span class="icon16 icomoon-icon-plus white"></span> Nouvelle action corrective</button></a> 
					 <div class="marginB10"></div>
				</div><!-- End .span4 -->
			</div>
		{% endif %}
        <div class="panel panel-default gradient invoice">
            <div class="panel-heading clearfix">
				<h4 class="left">
				    <span>Détails de la signalisation</span>
				</h4>
            </div>
            <div class="panel-body row" style="margin-left:0; margin-right:0;">
				<div class="you col-lg-6 col-md-6 col-sm-6" >
				    <ul class="list-unstyled">
				        <li><span class="icon16 icomoon-icon-arrow-right-3"></span>Référence : <strong class="red">{{ entity.reference }}</strong></li>
				        <li><span class="icon16 icomoon-icon-arrow-right-3"></span>Libellé : <strong class="red">{{ entity.libelle }}</strong></li>
				        <li><span class="icon16 icomoon-icon-arrow-right-3"></span>Source : <strong class="red">{{ entity.source }}</strong></li>
				        <li><span class="icon16 icomoon-icon-arrow-right-3"></span>Domaine : <strong class="red">{{ entity.domaine }}</strong></li>
				        <li><span class="icon16 icomoon-icon-arrow-right-3"></span>Analyste : <strong class="red">{{ entity.analyste }}</strong></li>
				        <li><span class="icon16 icomoon-icon-arrow-right-3"></span>Constat fait par : <strong class="red">{{ entity.constatateur }}</strong></li>
				    </ul>
				 </div>    
				 <div class="you col-lg-6 col-md-6 col-sm-6" >
					<ul class="list-unstyled">        
				        <li><span class="icon16 icomoon-icon-arrow-right-3"></span>Date de Constat : <strong class="red">{{ entity.dateConstat|date("d/m/Y")  }}</strong></li>
				        <li><span class="icon16 icomoon-icon-arrow-right-3"></span>Date de la Signalisation : <strong class="red">{{ entity.dateSignale|date("d/m/Y")  }}</strong></li>
						<li><span class="icon16 icomoon-icon-arrow-right-3"></span>Périmétre : <strong class="red">{{ entity.instance }}</strong></li>
                        <li><span class="icon16 icomoon-icon-arrow-right-3"></span>Type : <strong class="red">{{ entity.typeSignalisation }}</strong></li>
                        <li><span class="icon16 icomoon-icon-arrow-right-3"></span>Site : <strong class="red">{{ entity.site }}</strong></li>
                         <li><span class="icon16 icomoon-icon-arrow-right-3"></span>Statut : <strong class="red">{{ entity|get_statut_signalisation() }}</strong></li>
					</ul>
				</div>
				<div class="you col-lg-12 col-md-6 col-sm-6" >
					<ul class="list-unstyled">
						 <li><h3 class="red">Description de la signalisation</h3></li>
						 <p style="text-align: justify;">{{ entity.description }}</p>  
					</ul>
				</div>
				{{ render(controller('OrangeMainBundle:Signalisation:traitement', {'signalisation_id': entity.id})) }}
				{% if has_rights('ROLE_ANIMATEUR') and entity.action is not empty %}
					<div id="demandeReload">
						{{ render(controller('OrangeMainBundle:Signalisation:reload', {'signalisation_id': entity.id})) }}
					</div>
				{% endif %}
			</div><!-- End .row -->
				</div>
					<div class="clearfix"></div>
				</div>
</div>

			  {% if entity.action is defined and entity.action is not empty %}
			  	{{ render(controller('OrangeMainBundle:Signalisation:actions', {'signalisation_id': entity.id})) }}
			  {% endif %}
{% endblock %}

{% block pagescript %}
	{% include 'OrangeMainBundle:ModalScript:confirm.html.twig' %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('#demandeReload').hide();
			$("button").click(function() {
				if($(this).attr('id')=="reload"){
					$("#demandeReload").show();
				}
			});
		});
	</script>
{% endblock %}



