{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <ul class="error_list">
            {% for error in errors %}
                <li>{{
                    error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_widget_simple %}
    {% set type = type|default('text') %}
    	<input type="{{ type }}" {{ block('widget_attributes') }} {% if errors is not empty %} class="required error" {% endif %} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {{ form_errors(form) }}
{% endblock form_widget_simple %}

{%- block collection_widget -%}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}
    {{- block('form_widget') -}}
{%- endblock collection_widget -%}

{% block form_widget_label %}
    <label class="col-lg-2 control-label>{{ form_label(form) }}</label>
{% endblock form_widget_label %}

{% block form_display %}
    {% spaceless %}
		{% if 'display' in attr|keys %} style="{{ 'style' in attr|keys ? attr.style : '' }}; display: {{ attr.display }}" {% endif %}
    {% endspaceless %}
{% endblock %}

{% block form_label %}
<label class="col-lg-2 control-label" >{{ label|trans({}, translation_domain) }}</label>
{% endblock %}



{% block choices_widget %}
{{ block('form_label') }}
<div class="col-lg-4 {{ block('form_errors_class') }}">
	 {% set type = type|default('choices') %} 
	 {{ block('form_widget_simple') }}
</div>
{% endblock %}

{% block email_widget %}
	{{ form_label(form) }}
	<div class="col-lg-4 {{ block('form_errors_class') }}">
		{% set type = type|default('text') %} {{ block('form_widget_simple') }}
	</div>
{% endblock %} 


{% block checkbox_widget %}
    <div class="col-lg-12">
        <div>
            {% set type = type|default('checkbox') %}
		    <input type="{{ type }}"  {{ block('widget_attributes') }} {% if checked %}checked="checked"{% endif %} span12 {{ 'class' in attr|keys ? attr.class : '' }}" {% if value is not empty %}value="{{ value }}" {% endif %}/>
        </div>
    </div>
{% endblock %}

{% block entity_widget %}
	<div class="col-lg-12 {{ block('form_errors_class') }}">
		{{ form_widget(form, {'attr': {'class':'select'} }) }}
	</div>
{% endblock entity_widget %}


{% block text_widget %}
	<div class="col-lg-12 {{ block('form_errors_class') }}">
		 {% set type = type|default('text') %} {{ block('form_widget_simple') }}
	</div>
{% endblock %}
