<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">
		<span class="icon12 minia-icon-close"></span>
	</button>
	<h4 align="left">
		<span class="icon16 icomoon-icon-earth"></span>
       	<span>Ajout Domaine</span>
	</h4>
</div>
<form novalidate="novalidate" class="form-horizontal" action="{{  espace_id is empty ? path('creer_domaine') : path('creer_domaine_to_espace', {'espace_id':espace_id})}}" method="post" role="form">
	<div class="panel-body">
		{{ form_row(form.libelleDomaine)}} 
		{% if is_granted('ROLE_SUPER_ADMIN') and espace_id is not defined and espace_id is empty %}
		{{ form_row(form.bu,  {'attr': {'class': 'form-control'}}) }}
		{% endif %}
		{{ form_row(form._token) }}
		<!-- End .form-group  -->
	</div>
	<div class="form-actions">
		<div class="col-lg-offset-3 col-lg-9">
{{ form_widget(form.add,{attr: {'data-target': '#myModal', 'call': 'redirectModalToUrl', 'class':'btn btn-warning submitLink'}} ) }}
			{{ form_widget(form.cancel, {attr: {class: 'btn btn-die'}}) }}
		</div>
	</div>
</form>


<script type="text/javascript">
	$(document).ready(function(){
		$('#orange_mainbundle_domaine_bu').removeAttr("multiple");
	});
</script>